.project {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;

  .projectContent {
    grid-area: 1 / 1 / -1 / 7;
    grid-column: 5 / -1;
    position: relative;
    text-align: right;
  }

  .projectImage {
    grid-area: 1 / 6 / -1 / -1;
    grid-column: 1 / 8;

    & > div {
      position: static !important;

      & > img {
        position: static !important;
        border-radius: 4px;
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}
