@font-face {
  font-family: 'TeX Gyre Heros';
  src: local('TeX Gyre Heros'), local('TeXGyreHeros'),
    url('../fonts/texgyreheros-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
