.contact {
  padding: 65px 0;

  .container {
    display: flex;
    justify-content: space-evenly;

    a {
      font-size: 1.125rem;
      color: var(--color-text-normal);
      display: flex;
      align-items: center;
      gap: 0.5em;

      &:hover,
      &:focus-visible {
        color: var(--color-primary);
      }
    }
  }
}
