@use "../../styles/mixins";

.projects {
  padding: 30px 0 65px;

  .projectList {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include mixins.min-mq(md) {
      gap: 7.5rem;
    }
  }
}
