@use 'mixins';

// TODO: Remove the weights I am not using eventually
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/**************** CSS Variables ****************/
:root {
  /*********** Colors ***********/
  color-scheme: light;

  // Primary Color Hue
  --hue-color: 175; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

  --color-primary: hsl(var(--hue-color), 69%, 41%);
  // --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --color-primary-darker: hsl(var(--hue-color), 57%, 36%);
  --color-primary-lighter: hsl(var(--hue-color), 92%, 85%);
  // TODO: Consider renaming the CSS variables for the text colors, they aren't very clear or accurate
  --color-text-heading: hsl(var(--hue-color), 8%, 15%);
  --color-text-subheading: hsl(var(--hue-color), 100%, 25%);
  --color-text-normal: hsl(var(--hue-color), 8%, 45%);
  --color-text-light: hsl(var(--hue-color), 8%, 65%);
  --color-input: hsl(var(--hue-color), 70%, 96%);
  --color-background: hsl(var(--hue-color), 60%, 99%);
  --color-background-alt: hsl(var(--hue-color), 60%, 99%);
  --color-container: hsl(0, 0%, 100%);
  --color-scroll-bar: hsl(var(--hue-color), 12%, 90%);
  --color-scroll-thumb: hsl(var(--hue-color), 12%, 80%);

  // TODO: Maybe consider removing the transition color timing, it doesn't gel well
  --transition-color: 0 linear;

  /*********** Fonts ***********/
  --font-family-body: 'Poppins', sans-serif;

  /*********** Padding ***********/
  --body-horizontal-padding: 1.5rem;

  @include mixins.min-mq(md) {
    --body-horizontal-padding: 3rem;
  }

  @include mixins.min-mq(lg) {
    --body-horizontal-padding: 6rem;
  }

  @include mixins.min-mq(xl) {
    --body-horizontal-padding: 10rem;
  }
}

/**************** Dark Theme ****************/
body.dark-theme {
  color-scheme: dark;

  --color-primary: hsl(var(--hue-color), 69%, 36%);
  --color-primary-darker: hsl(var(--hue-color), 57%, 31%);
  // --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --color-text-heading: hsl(var(--hue-color), 8%, 95%);
  --color-text-subheading: hsl(var(--hue-color), 50%, 50%);
  --color-text-normal: hsl(var(--hue-color), 8%, 75%);
  --color-input: hsl(var(--hue-color), 29%, 16%);
  --color-background: hsl(var(--hue-color), 28%, 12%);
  --color-background-alt: hsl(var(--hue-color), 28%, 17%);
  --color-container: hsl(var(--hue-color), 29%, 16%);
  --color-scroll-bar: hsl(var(--hue-color), 12%, 48%);
  --color-scroll-thumb: hsl(var(--hue-color), 12%, 36%);
}

/**************** Base Styles ****************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  // margin: 0 0 var(--header-height) 0;
  // font-size: var(--normal-font-size);
  font-family: var(--font-family-body);
  background-color: var(--color-background);
  color: var(--color-text-normal);
  transition: background-color var(--transition-color),
    color var(--transition-color);
}

button {
  all: unset;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  padding: 0 var(--body-horizontal-padding);

  section {
    @include mixins.container;
  }
}
