@use 'mixins';

// Fonts
// TODO: Remove the Helvetica Now & TeX Gyre Heros font-faces. Instead, use a Google Fonts free font
@font-face {
  font-family: 'Helvetica Now Display';
  src: local('Helvetica Now Display Regular'),
    local('Helvetica-Now-Display-Regular'),
    url('../fonts/HelveticaNowDisplay-Regular.woff2') format('woff2'),
    url('../fonts/HelveticaNowDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: local('Helvetica Now Display Bold'), local('Helvetica-Now-Display-Bold'),
    url('../fonts/HelveticaNowDisplay-Bold.woff2') format('woff2'),
    url('../fonts/HelveticaNowDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TeX Gyre Heros';
  src: local('TeX Gyre Heros'), local('TeXGyreHeros'),
    url('../fonts/texgyreheros-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// CSS Resets
button {
  all: unset;
  cursor: pointer;

  // TODO: move the hover styling for buttons to the specific View Projects button (also, create a Button component so it is reusable)
  // &:hover,
  // &:focus {
  //   box-shadow: inset 0 0 0 0.125rem black, inset 0 0 0 0.25rem white;
  //   // V2 version of box-shadow on focus
  //   // box-shadow: 0 0 0 0.25rem white, 0 0 0 0.5rem black;
  // }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus-visible {
  // TODO: Figure out how to set outline for everything for consistency
  // outline: 4px dashed black !important;
  // outline-offset: 1rem;
}

// CSS Variables
:root {
  // Color variables
  --colors-black: hsl(0, 0%, 0%);
  --colors-white: hsl(0, 0%, 100%);
  --colors-gray-50: hsl(204, 45%, 98%);
  --colors-gray-100: hsl(210, 38%, 95%);
  --colors-gray-200: hsl(214, 32%, 91%);
  --colors-gray-300: hsl(211, 25%, 84%);
  --colors-gray-400: hsl(214, 20%, 69%);
  --colors-gray-500: hsl(216, 15%, 52%);
  --colors-gray-600: hsl(218, 17%, 35%);
  --colors-gray-700: hsl(218, 23%, 23%);
  --colors-gray-800: hsl(220, 26%, 14%);
  --colors-gray-900: hsl(230, 21%, 11%);
  // Recommended background color for dark mode from Material Design docs
  --colors-gray-material-design: hsl(0, 0%, 7%);
  --colors-text-primary-old: hsl(0, 0%, 11%);

  // Theme colors
  --color-primary: var(--colors-black);
  --color-secondary: var(--colors-gray-600);
  --color-background: var(--colors-white);

  // Section layout variables
  --section-max-width: 110rem;
  --section-padding-horizontal: 1.5rem;

  @include mixins.mq(md) {
    --section-padding-horizontal: 4rem;
  }

  @include mixins.mq(lg) {
    --section-padding-horizontal: 7.5rem;
  }

  .dark-theme {
    --color-background: var(--colors-gray-900);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700;900&family=Lato:wght@400;700&family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&family=Source+Sans+Pro:wght@400;700&family=Yantramanav:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');

body {
  background: var(--color-background);
  // ! font-family: 'Oswald', sans-serif; ! NOPE
  // ! font-family: 'Work Sans', sans-serif; ! NOPE
  // ! font-family: 'Arimo', sans-serif; ! NOPE
  // ! font-family: 'Open Sans', sans-serif; ! NOPE
  // ! font-family: 'Source Sans Pro', sans-serif; ! NOPE
  // ! font-family: 'Yantramanav', sans-serif; ! NOPE
  // ! font-family: 'Lato', sans-serif; ! NOPE

  font-family: 'Raleway', sans-serif;
  font-family: 'Libre Franklin', sans-serif;

  /*
    Current font rankings:
    1. Raleway
    2. Libre Franklin
    TODO: Check out TeX Gyre Heros
  */

  font-family: 'TeX Gyre Heros', sans-serif;
  // font-family: 'Helvetica Now Display', sans-serif;
  // TODO: Use the font stack listed here: https://www.grputland.com/2013/11/multiplatform-helvetica-like-font-stack.html
  // Still optionally load TeX Gyre Heros (ASCII only) as a fallback
  font-family: 'Helvetica Neue', HelveticaNeue, 'TeX Gyre Heros', TeXGyreHeros,
    FreeSans, 'Nimbus Sans L', 'Liberation Sans', Arimo, Helvetica, Arial,
    sans-serif;

  color: var(--color-primary);
  overflow-x: hidden;

  #__next {
    & > main {
      padding: 0 var(--section-padding-horizontal);

      & > section {
        @include mixins.section-max-width;
      }
    }
  }
}

::selection {
  color: white;
  background: #878a8f;
}

::-moz-selection {
  color: white;
  background: #878a8f;
}
