@use 'mixins';

.hero {
  padding-top: 100px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-start;

  .watermark {
    display: none;
    align-items: center;
    position: absolute;
    font-size: clamp(0rem, 18vw, 22rem);
    font-weight: bold;
    text-transform: lowercase;
    color: white;
    text-shadow: 2rem 1rem 2rem rgba(175, 175, 175, 0.15);
    pointer-events: none;
    user-select: none;
    z-index: -1;
    transform: translateY(-18rem);
  }

  // TODO: Maybe remove this artifact, it doesn't look very good
  // .artifactContainer {
  //   position: absolute;
  //   right: -0.8rem;
  //   display: flex;
  //   opacity: 0.5;
  //   z-index: -2;

  //   transform: scale(40) translate(-0.25rem, 0.5rem);

  //   .artifact {
  //     position: relative;
  //     border-left: 1rem solid transparent;
  //     border-right: 1rem solid transparent;
  //     border-bottom: 2rem solid black;

  //     &::before,
  //     &::after {
  //       content: '';
  //       position: absolute;
  //       border-left: 1rem solid transparent;
  //       border-right: 1rem solid transparent;
  //       border-bottom: 2rem solid black;
  //       left: -1rem;
  //     }

  //     &::before {
  //       border-bottom-color: grey;
  //       top: 0.25rem;
  //     }

  //     &::after {
  //       border-bottom-color: lightgray;
  //       top: 0.5rem;
  //     }
  //   }
  // }

  .main {
    h5 {
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.125rem;
      color: grey; // TODO: Use an actual color
    }

    h2,
    h3 {
      font-size: clamp(2.5rem, 8vw, 5rem);
      // TODO: Need to import an even bolder font for this
    }

    h3 {
      color: grey;
    }

    .callToAction {
      color: white;
      background: black;
      font-weight: bold;
      padding: 0.75em 1.5em;
      transition: box-shadow 0.1s ease-in-out;
    }
  }

  @include mixins.mq(sm) {
    align-items: center;
    min-height: 100vh;
    padding-top: 0;

    .watermark {
      display: flex;
    }
  }
}
