@use 'mixins';

.navbarContainer {
  width: 100vw;
  position: fixed;
  z-index: 2;
  padding: 1rem var(--section-padding-horizontal);
  background: white;

  .navbar {
    @include mixins.section-max-width;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
  }
}
