.projects {
  min-height: 100vh;
  // padding: 7.5em;

  h2 {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 5rem;
  }

  .projectsGrid {
    display: grid;
    grid-auto-flow: column;
    gap: 2em;

    .projectCard {
      position: relative;
      padding: 2em;

      h3 {
        font-size: 2em;
        font-weight: bold;
      }

      img {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
  }
}
